*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: mediumseagreen;
}
header{
    background-color: black;
}
h1{
    font-family: 'Comforter Brush', cursive;
    font-size: 2rem;
    color: blanchedalmond; 
}

.titulo{
    color: blanchedalmond;
    font-family: 'Comforter Brush', cursive;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
a{
    color: blanchedalmond;
    
}
ul{
    text-align: right;
}
li{
    display: inline-block;
}
h2{
    font-family: 'Yellowtail', cursive;
    font-size: 1rem;
    color: blanchedalmond;
}
.text{
    margin: 20px;
    padding: 10px;
    color: beige;
    font-family: 'Yellowtail', cursive;
    font-style: oblique;
    line-height: 2;
}
.caja{
    margin: 20px;
    padding: 10px;
    color: beige;
    font-size: 1rem;
    font-family: 'Yellowtail', cursive;
    font-style: oblique;
    line-height: 2;
    width: 500px;
    height: 300px;
    display: inline-block;
}
.venta{
    text-align: left;
    display: block;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 20px;
}
}
.h4{
    text-align: right;
}